@model MvcMadMenu.Models.MadMenu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MadMenu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Med_Hjem_Køkken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Med_Hjem_Køkken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UgeNavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UgeNavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Menuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
